@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-green: #0D8C09;
  --color-secondary-green: #72C100;
  --color-accent-orange: #F9A620;
  --color-dark-gray: #14080E;
  --color-light-gray: #49475B;
  --color-neutral-gray: #F0F0F0;
  /* Fonts */
  --font-marcellus: var(--font-marcellus);
  --font-dm-sans: var(--font-dm-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-marcellus {
  font-family: var(--font-marcellus), serif;
}

.font-dm-sans {
  font-family: var(--font-dm-sans), sans-serif;
}